@import '../../styles/utils/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  border-radius: 50%;

  outline: none;
  border-style: none;
  background-color: #fff;
  border: $item-border;

  &:hover {
    background-color: #d8d8d8;
    transition: 0.35s;
  }
}