@import '../../styles/utils/variables';

.order {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: auto;
  border: $item-border;
  border-radius: $item-border-radius;

  &__header {
    position: relative;
    padding: 20px 20px;
  }
  
  &__header-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b1b1;
  }

  &__close-button {
    position: absolute;
    height: 35px;
    width: 35px;
    right: -2%;
    top: -25%;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    &--empty {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 100px
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  padding: 10px 20px;

  transition: 0.1s;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0 0 5px #949494;
  }

  &__delete-button {
    width: 45px;
    height: 45px;
  }

  &__image {
    display: flex;
    align-items: center;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}