@import '../styles/utils/variables';

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-height);
  padding: 0 20px;
  z-index: 0;

  background-color: #f1f1f1;
}