@import '../../styles/utils/variables';

.header {
  display: flex;
  padding: 0.5rem 2rem;
  height: $header-height;
  z-index: 10;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.300);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;

    max-width: 350px;
  }

  &__input {
    padding-left: 35px;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 10px;
  }
}