@import '../../styles/utils/variables';

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: $item-border;
  border-radius: $item-border-radius;
  padding: 15px 10px;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__price {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--uah::after {
      content: ' ₴';
    }

    &--usd::after {
      content: ' $';
    }
  }
}